/* .App {
} */

.App-header {
  text-align: center;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.stocksList{
  height:100%;
  background-color:bisque;
}
.stocksDetail{
  padding: 20px;
  background-color: bisque;
  position: relative;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
li{
  margin: 3px;
  padding: 20px;
  background-color: #21b6ae;
}

#closeBtn{
  position: absolute;
  right: 20px;
  color: #21b6ae;
}